/**/*.npy
/**/*.fits
/**/*.npz
/**/*.log
/**/*.pkl
/**/__pycache__
/**/*.pyc
/**/run_*.py
/**/submit_run_*.sh
/**/fly_*.py
/**/submit_fly_*.sh
/**/hop_*.py
/**/submit_hop_*.sh
/**/submit_*.sh
/**/run_pcn_*.py
/**/run_pcfn_*.py
/**/run_inp_*.py
/**/submit_pcn_*.sh
/**/submit_pcfn_*.sh
/**/*.so
/**/chains
tags


